* {
    outline: 1px dotted red;
}
#wrapper {
    width: 970px;
    background-color: rgb(0, 87, 128);
    color: white;
    margin: 0px auto;
    text-align: center;
}
#header {
    display: inline-block;
    width: 95%;
    padding: 10px 20px;
}
#header img {
    width: 350px;
    margin: 0px auto;
    float: left;
}
#header div {
    margin: 0px auto;
    float: right;
}
#header div a {
    color: yellow;
}
#header div p {
    text-align: center;
}
#search {
    background-color: lightslategray;
}
#header div input {
    margin: 10px;
}
#Go {
    background-color: darkblue;
    color: white;
}
#menu {
    background-color: blue;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px auto;
    /* text-align: center; */
}
#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#menu li {
    float: left;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#bodyTop {
    display: inline-block;
    text-align: center;
}
#topLeft {
    display: inline-block; 
    width: 45%;
    vertical-align: top;
}
#topLeft li a {
    color: white;
}
#topRight {
    display: inline-block; 
    width: 45%;
}
#topRight h4 {
    color: yellow;
    padding: 0px;
    margin: 5px;
}
#topRight h5 {
    padding: 0px;
    margin: 5px; 
}
#bodyBottom {
    background-color: white;
    color: black;
    text-align: center;
}
#bodyBottom ul {
    color: blue;
}
#bottomLeft {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
#bottomRight {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
#footer {
    text-align: center;
}
#footer p {
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;
}